@import '../global.scss';

.navbar {
    font-family: 'Comfortaa', cursive;
    margin: 0;

    .sections {
        display: flex;
        flex-direction: row;
 
        .puellae {
            background-color:$female-color;
            min-width: 50vw;
            
            i {
                color: $male-color;
                align-items: center;
                margin: 2rem;
            }
        }
        .pueri {
            background-color: $male-color;
            min-width: 50vw;
            
            i {
                color: $female-color;
                align-items: center;
                margin: 2rem;
            }
        }
    }
}